
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    events {}

    http {
      resolver kube-dns.kube-system.svc.cluster.local valid=10s;

      upstream fastapi {
        server fastapi-service:8000;
      }

      server {
        listen 80;

        location / {
          proxy_pass http://fastapi;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }
      }
    }
